---
import Layout from "../layouts/Layout.astro"
import { site } from "../site"
import { getCollection, getEntry } from 'astro:content';
import Back from "../components/Back.astro"
import Header from "../components/Header.astro"

const page = await getEntry('pages', 'about')
const { Content, headings } = await page.render();
const authors = await getCollection('authors')
---
<Layout title={site.pages.about.title} desc={site.pages.about.description}>

  <article>
  <Header
    title={page.data.title}
    description={page.data.description}
    created={page.data.created}
    updated={page.data.updated}
   />
    <Content />
    <div class="about-content">
      <div class="editorial-section">
        <h3 id="authors">Editorial</h3>
        <hr>
        <br>
        <p><i>Charlie Goldberg</i></p>
        <p><i>Faye Chang</i></p>
        <p><i>Olivier Berg</i></p>
        <p><i>Geo Maur-Batsaki</i></p>
        <p><i>Jiayue Shi</i></p>
        <p><i>Hassan Akram</i></p>
        <p><i>Morien Robertson</i></p>
        <p><i>Lara Machado</i></p>


        <h3 id="authors">Design</h3>
        <hr>
        <br>
        <i><p>Malaika Aiyar</p>
        <p>Niamh Durnin</p>
        <p>Moli Birkinshaw</p>
        <p>Zander Fitzgerald</p></i>
      </div>
      <div class="image-section">
        <img src="images/oxford-sketch.png" alt="Oxford sketch" class="oxford-image">
      </div>
    </div>
  </article>
</Layout>

                          
